.Container {
display: flex;
justify-content: center; /* Centers horizontally */
align-items: center; /* Centers vertically */
height: 100vh; /* Full viewport height */
flex-direction: column;
}
body{
    background-color: white;
}
#Warning{
    border:1px solid;

    
    background-color: red;
    
    color: white;
    align-self: flex-start;
}
.SignUpCard{
    border: 2px solid;
    display: flex;
    justify-content: center;
    
    
    
    width: 30rem;
    height: 40rem;
    border-radius: 6%;
    background-color: rgba(0, 0, 0, 0.859);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4.0rem;
    transition: 0.8s;
} 
.textinput{
    

    border: none;
    border-bottom: 2px solid white;
    outline: none;
    background: none;
    font-family: cursive;
    color: white;
    font-size: 1.5rem;
    

}

input::placeholder{
    color: white;
    opacity: 0.6;
    font-family: cursive,sans-serif;
    font-size: 1.5rem;
}
.buttons{
    display: flex;
    border: 2px;
    align-self: center;
    width: 90%;
    height: 10%;
    justify-content: center;
    gap: 10rem;
    

}
button{
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    height: 70%;
    width: 50%;
    background: none;
    transition: 0.7s;
    
}
button:hover{
    background-color: white;
    color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
